@model EntrevistaUltimus.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>
    Ultimus - Technical Test
</h2>

<div class="row mb-4">
    <div class="col-12">
        <a href="@Url.Action("Index", "User")" class="btn btn-primary">Ver crud de usuarios</a>
    </div>
</div>

<h3>
    Desarrollo de un crud de usuarios
</h3>
<h5 class="card-subtitle mb-2 text-muted">
    Imagen descriptiva de la prueba
</h5>
<div class="row mt-2">
    <div class="col-12">
        <img src="~/images/img test.png" class="img-fluid" alt="Imagen descriptiva de la prueba">
    </div>    
</div>


@section scripts {
    <script>

        

    </script>
}